	#filter_form > .title{
		font-family: 'pf_beausans_probold', Arial, sans-serif;
		font-size: 22px;
		padding: 15px 20px;
	}
	#filter_form ul{
		margin: 0;
	}
	#filter_form li{
		padding: 0;
	}
	#filter_form li:after{
		display: none;
	}
	#filter_form .one_filter{
		border-top: 1px #d2d3d5 solid;
		padding: 15px 0;
	}
	#filter_form .one_filter[style^="display: none"] + div{
		border-top: 0;
		padding-top: 0;
		transition: all 0.3s linear;
	}
	#filter_form .one_filter:first-child{
		border-top: 0 none !important;
		padding-top: 0 !important;
	}
	#selected_filter[style] + #filter_form  .one_filter{
		border-top: 0 none !important;
		padding-top: 0 !important;
	}
		#filter_form .one_filter > .title{
			font-size: 19px;
			font-weight: bold;
			margin-bottom: 15px;
			position: relative;
			z-index: 0;
			line-height: 1;
			color: #231f20;
			cursor: url('/images/link_cursor.cur'), pointer;
			transition: all 0.3s linear;
		}
		#filter_form .one_filter.closed > .title{
			margin-bottom: 0;
		}
			#filter_form .one_filter > .title i{
				position: relative;
				bottom: -7px;
				z-index: 1;
				display: inline-block;
				width: 12px;
				height: 8px;
				background-image: url('/images/bl-str.png');
				margin-left: 9px;
			}
			#filter_form .one_filter.opened > .title i{
				background-position: 0 0;
			}
			#filter_form .one_filter.closed > .title i{
				background-position: 0 -8px;
			}
		#filter_form .clear{
			position: relative;
			z-index: 0;
			color: #ec8f00;
			text-decoration: none;
		}
		#filter_form .clear:after{
			content: '';
			position: absolute;
			z-index: 1;
			display: block;
			height: 0;
			width: 100%;
			border-bottom: 1px dotted;
			border-color: inherit;
			bottom: 2px;
			left: 0;
		}
			#filter_form label b{
				font-weight: normal;
				font-size: 10px;
				color: #808285;
				vertical-align: baseline;
			}
			#filter_form .one_filter .filter_box .item{
				padding-top: 7px;
				line-height: 20px;
				margin-bottom: 0;
			}
			#filter_form .one_filter .filter_box .item:first-child{
				padding-top: 0;
			}
				#filter_form .one_filter .filter_box .item label{
					display: block;
					padding: 0 0 0 30px;
					position: relative;
					z-index: 0;
				}
					#filter_form .one_filter .filter_box .item label span{
						position: absolute;
						z-index: 1;
						top: 2px;
						left: 0;
					}
					#filter_form .one_filter .filter_box .item label a{
						text-decoration: none;
						position: relative;
						border-bottom: 1px dotted;
						border-color: inherit;
						font-size: 16px;
						margin-right: 5px;
					}
					#filter_form .one_filter .filter_box .item [disabled] + label a{
						cursor: default;
						color: #A7A9AC;
					}
#one_fil_slider{
	margin-bottom: 30px !important;
}
	#one_fil_slider .price_input{
		margin: 5px 0px 10px;
		color: #808285;
		font-size: 14px;
		line-height: 32px;
	}
		#one_fil_slider .price_input span{
			font-size: 12px;
			display: inline-block;
			padding-top: 7px;
		}
		#one_fil_slider .price_input input{
			width: 65px;
			margin: 0px 0px 0px 3px;
			text-align: center;
		}
		#one_fil_slider .price_input input:first-child{
			margin: 0px 3px 0px 0px;
		}
#waiter{
	background: transparent;
	position: absolute;
	z-index: 0;
	width: 22px;
	height: 50px;
	left: 229px;
	top: 0;
}
.add_waiter{
	background-color: #F6F6F7;
    display: block;
    height: 48px;
    left: 228px;
    position: absolute;
    top: 1px;
    width: 2px;
    z-index: 1;
}
	#waiter .box{
		overflow: hidden;
		height: 100%;
		position: relative;
		z-index: 0;
	}
#waiter .contener{
	position: absolute;
	z-index: 0;
	right: 0px;
	top: 0px;
	background: #F6F6F7;
	display: block;
	height: 48px;
	padding: 0px 30px 0px 15px;
	border: 1px solid #E6E7E8;
	line-height: 48px;
	border-radius: 5px;
}
#waiter .contener:after{
	content: '';
	display: block;
	height: 16px;
	width: 12px;
	background: url('/images/waiter_bg.png') no-repeat 0 -16px;
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 50%;
	margin-top: -8px;
}
#waiter.hide .contener:after{
	background-position: 0 0;
}
	#waiter span a{
		text-decoration: none;
		position: relative;
		z-index: 0;
		margin-right: 3px;
	}
	#waiter span a:after{
		content: '';
		position: absolute;
		z-index: 1;
		border-bottom: 1px dotted;
		border-color: inherit;
		display: block;
		height: 0;
		width: 100%;
		bottom: 2px;
		left: 0;
	}
	#waiter span b{
		vertical-align: baseline;
		color: #808285;
	}
@-moz-document url-prefix(){
	#filters_block form .filtr_bot button span{
		margin-top: -1px;
	}
	#filters_block form .one_filter > .title i{
		position: absolute;
		bottom: 7px;
	}
}