/* Slider
----------------------------------*/
.ui-slider { 
	position: relative;
	height: 4px;
	text-align: left;
	border-top: 1px #b4b5b7 solid;
	background: #d2d3d5;
}
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border-top: 1px solid #db6800;
	background-color: #ff7900;
}

.ui-slider-horizontal .ui-slider-handle { 
	bottom: -8px; 
	margin-left: -10px; 
	background: url('/images/slider_handle.png') no-repeat center top; 
	width: 20px; 
	height: 20px; 
}
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

/* РґРѕР±Р°РІР»РµРЅРѕ */
.ui-slider-horizontal .ui-slider-label
{
	position: absolute;
	bottom: -25px;
	color: #808285;
	text-align: center;
	border-bottom: 1px dotted black;
	/*background : url('images/slide_label.gif') left top no-repeat;*/
}

/* Component containers
----------------------------------*/