html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0 none;
    font-size:100%;
    vertical-align:top;
    background:transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
sup{
	vertical-align: super;
	font-size: 10px;
}
html{
    overflow-y: scroll;
	font-family: Arial, sans-serif;
	color: #58595b;
	font-size: 14px;
}
body {
    position: relative;
    z-index: 0;
	min-width: 1260px;
	background: #e7e8e9 url('/images/top_bg.jpg') no-repeat center top;
}
h1, h2, h3{
    font-weight: bold;
	color: #231f20;
	margin: 15px 0;
}
h1{
	font-size: 28px;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 16px;
}
ul{
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
}
a, button, input[type="button"], input[type="submit"], input[type="checkbox"], input[type="radio"], input[type="checkbox"] + label span,
#get_call{
	cursor: url('/images/link_cursor.cur'), pointer;
}
a{
	color: #00aad2;
	outline: none;
}
a:hover{
	color: #231f20;
}
p, address, ul, ol, table{
	margin: 10px 0;
}
time{
	color: #898989;
	font-size: 14px;
}
textarea, select, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="search"], input[type="url"]{
	padding: 5px 10px;
	font-family: Arial, sans-serif;
	color: #58595b;
	font-size: 14px;
	background-color: #f1f2f2;
	border: 1px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
	-webkit-box-shadow: inset 1px 1px 2px 0px #606161;
	box-shadow: inset 1px 1px 2px 0px #606161;
}
textarea{
	resize: none;
}
input[type="checkbox"], input[type="radio"] {
    display:none;
}
input[type="checkbox"] + label{
	padding: 5px 0px;
	display: inline-block;
	font-size: 14px;
	vertical-align: baseline;
	color: #00aad2;
}
input[type="checkbox"] + label:hover{
	color: #00c4df;
}
input[type="checkbox"]:disabled + label{
	color: #a7a9ac;
}
	input[type="checkbox"] + label span{
		background-image: url('/images/checkbox.png');
		background-position: 0 0;
		background-repeat: repeat-x;
		border: 0 none;
		display:inline-block;
		width:15px;
		height:15px;
		vertical-align:middle;
		margin: -1px 10px 0px 0px;
		position: relative;
		z-index: 0;
		border-radius: 3px;
        box-shadow:  0px 1px 1px 0px #afafaf;
	}
	input[type="checkbox"]:checked + label span:after{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		width: 12px;
		height: 11px;
		top: 4px;
		left: 4px;
		background: url('/images/checked.png') no-repeat 0 0;
	}
	input[type="checkbox"]:disabled + label span, input[type="radio"]:disabled + label span{
		background-position: 0 -15px;
	}
	input[type="checkbox"] + label:hover span, input[type="radio"] + label:hover span{
		box-shadow:  0px 1px 1px 0px #afafaf, 0px 0px 2px 0px #a0e3ee;
	}
	input[type="radio"] + label span{
		border: 0 none;
		display:inline-block;
		width:10px;
		height:10px;
		vertical-align:middle;
		margin: -1px 10px 0px 0px;
		position: relative;
		z-index: 0;
		border-radius: 5px;
        box-shadow:  inset 1px 1px 1px 0px #646364;
	}
	input[type="radio"]:checked + label span{
		background-image: url('/images/checkbox.png');
		background-position: 0 0;
		background-repeat: repeat-x;
	}
	
input[type='button'], input[type='submit'], input[type='reset'], button, .button{
    color: #231f20;
    display: inline-block;
	font-family: Arial, sans-serif;
    font-size: 14px;
	font-weight: bold;
	padding: 4px 20px;
	line-height: 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
	border-radius: 5px;
	background-color: #d3d4d6;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQzZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #d1d3d4 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1d3d4));
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#d1d3d4 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%,#d1d3d4 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%,#d1d3d4 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%,#d1d3d4 100%);
	text-shadow: 0 1px 0 #f1f2f2;
	box-shadow: 0 1px 0 0 #afafaf, inset 0 0 2px 0 #ffffff;
}
.button:hover{
	color: #231f20;
}
input[type='button']:hover, input[type='submit']:hover, input[type='reset']:hover, button:hover, .button:hover, 
input[type='button'].active, input[type='submit'].active, input[type='reset'].active, button.active, .button.active{
	background-color: #d1d3d4;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxZDNkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, #d1d3d4 0%, #ffffff 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d3d4), color-stop(100%,#ffffff));
	background-image: -webkit-linear-gradient(top, #d1d3d4 0%,#ffffff 100%);
	background-image: -o-linear-gradient(top, #d1d3d4 0%,#ffffff 100%);
	background-image: -ms-linear-gradient(top, #d1d3d4 0%,#ffffff 100%);
	background-image: linear-gradient(to bottom, #d1d3d4 0%,#ffffff 100%);
}
input[type='button']:disabled, input[type='submit']:disabled, input[type='reset']:disabled, button:disabled, button.disable, .button.disable{
	color: #808285;
	box-shadow: 0 1px 1px 0px #d7d7d7, inset 0 0 1px 0 #ffffff;
	background-color: #eceded;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2VkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background-image: -moz-linear-gradient(top, #ffffff 0%, #eceded 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eceded));
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#eceded 100%);
	background-image: -o-linear-gradient(top, #ffffff 0%,#eceded 100%);
	background-image: -ms-linear-gradient(top, #ffffff 0%,#eceded 100%);
	background-image: linear-gradient(to bottom, #ffffff 0%,#eceded 100%);
}
quote{
	font-style: italic;
	color: #808285;
	padding-left: 30px;
	margin: 10px 0;
	display: block;
}
table.nostyle td{
	border: 0px none !important;
	padding: 0px !important;
	background: none !important;
}
.table_box{
    display: table;
    width: 100%;
}
.table_tr{
    display: table-row;
}
.table_td, .table_th{
    display: table-cell !important;
}
.inline{
	display: inline-block;
}
.black_fon{
	position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    -moz-opacity: 0.80;
    -khtml-opacity: 0.80;
    opacity: 0.80;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); 
}
	.black_fon .loader{
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		margin-left: -12px;
		margin-top: -12px;
		
	}
#videoplayerdiv_box{
	display: none;
	position: absolute;
	z-index: 11;
	top:0;
	left:0;
	background-color: #ffb60f;
	padding: 35px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
#videoplayerdiv_box .closer{
	position: absolute;
	z-index: 0;
	cursor:pointer;
	background:url(./photo_viewer_light_round/images/sprite_light.png) left top no-repeat;
	top:5px;
	right:5px;
	width:28px;
	height: 28px;
}
.wrapper{
	width: 1180px;
	padding: 0 40px;
	margin: 0px auto;
}
.warning{
	font-size: 16px;
	font-weight: bold;
	color: red;
}
@-moz-document url-prefix() {
	input[type='button'], input[type='submit'], button{
		line-height: 20px;
	}
}
/*---Header---*/
header, #content, footer{
	margin: 0 auto 25px;
	width: 1180px;
	padding: 0 40px;
}
header{
	padding-top: 30px;
}
	header > .right{
		float: right;
		padding: 0 17px;
		border-left: 1px solid #6ad3e5;
	}
			header > .right .slider ul, header > .right .slider li{
				padding: 0;
				margin: 0;
			}
			header > .right .slider ul{
				overflow: hidden;
				width: 135px;
				text-align: center;
				height: 126px;
			}
			header > .right .slider li{
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
			}
		header > .right .shops .title{
			line-height: 0.9;
			font-weight: bold;
			color: #231f20;
			margin-bottom: 5px;
		}
		header > .right .shops ul{
			margin: 0;
			padding-left: 12px;
		}
	header > .left{
		margin-right: 467px;
	}
	header > .left:after{
		content: '';
		display: block;
		height: 0;
		clear: both;
	}
		header .logo img{
			margin: -37px 0 0 -30px;
		}
	header .phone{
		float: right;
		padding-right: 19px;
		text-align: right;
	}
		header .phone > div{
			font-size: 28px;
			font-weight: bold;
			color: #231f20;
			line-height: 0.9;
			margin-bottom: 5px;
		}
	header #get_call{
		color: #00aad2;
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 15px;
	}
		header nav a{
			display: inline-block;
			margin-right: 32px;
			vertical-align: top;
			color: #231f20;
			font-size: 16px;
			font-weight: bold;
		}
		header nav a:hover{
			color: #e23b30;
		}
		header nav a.active{
			color: #808285;
		}
/*---Content---*/
	.content ul{
		margin: 10px 0;
		padding-left: 27px;
	}
		.content ul li, header > .right .shops li{
			position: relative;
			z-index: 0;
			padding-left: 3px;
			margin-bottom: 5px;
			list-style-image: url("/images/list_style.png")
		}
/*---Content---*/
#content{
	background-color: #FFFFFF;
	position: relative;
	z-index: 0;
	padding: 30px 40px;
	box-shadow: 0 0 1px 0 #cfd0d1;
}
#content:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
}
/*---Other---*/
.to_print, .back_to_the_future{
	display: inline-block;
	padding-left: 47px;
	background: url('/images/icons.gif') no-repeat 0 0;
	line-height: 34px;
}
.back_to_the_future{
	background-position: 0 -34px;
}
#call_form{
	display: none;
	position: absolute;
	z-index: 4;
	text-align: center;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #e1f4fd;
	border-radius: 8px;
	top: 0;
	left: 0;
}
	#call_form .title{
		text-align: center;
		line-height: 30px;
		position: relative;
		z-index: 1;
		padding: 0 20px;
		display: inline-block;
	}
		#call_form .title a{
			color: #231F20;
			text-decoration: none;
		}
		#call_form form{
			text-align: left;
			width: 200px;
		}
		#call_form input{
			width: 100%;
		}
		#call_form form > div{
			margin-bottom: 15px;
		}
			#call_form form .secr_img{
				margin-right: 5px;
			}
			#call_form form .rel_link{
				line-height: 32px;
			}
		#call_form form label{
			display: block;
			font-size: 16px;
			font-family: 'PT Sans', sans-serif;
		}
.secr_img{
	border-radius: 5px;
}
.rel_link{
	text-decoration: none;
	font-size: 13px;
	font-style: italic;
	color: #981F4A;
	border-bottom: 1px dotted;
}
.path{
	margin-bottom: 10px;
	font-size: 14px;
	color: #a7a9ac;
}
.path a{
	display: inline-block;
	color: #808285;
}
.path .separator{
	display: inline-block;
	background: url('/images/separator.png') no-repeat center center;
	width: 20px;
	height: 19px;
}
.path + h1{
	margin-top: 10px;
}
.quote_text i{
	display: block;
	padding: 15px;
	border-radius: 5px;
	background-color: white;
	color: #58595B;
	border: 1px solid #E6E7E8;
    box-shadow: 0 0 2px 0 #E6E7E8;
}
.quote_text u{
	display: block;
	height: 15px;
	background: url('/images/qoute_str.png') no-repeat 15px 0;
	z-index: 1;
	position: relative;
	margin-top: -2px;
}
.pages{
	background: url('/images/pages.png') no-repeat center top;
	height: 49px;
	margin-bottom: 40px;
	text-align: center;
}
	.pages .pages_box{
		display: inline-block;
		line-height: 47px;
		margin-top: 2px;
		margin-left: -5px;
		font-size: 18px;
		color: white;
		font-family: 'Scada', sans-serif;
		width: 180px;
	}
.floating{
	float: left;
}
.close_block{
	display: none;
}
.delete{
	width: 32px;
	height: 32px;
	background: url('/images/cross.gif') no-repeat 0 0;
	cursor: pointer;
}

@media print{
	.navigate, header .center, #get_call{
		display: none;
	}
}